@charset "utf-8";

main, header, nav, aside, article, footer{
    border: 1px solid grey;
    margin: 10px;
    padding: 2px;
}

main{
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "h h h h h h"
        "n a a a s s"
        "f f f f f f";
}

header{
    grid-area: h;
    background-color: #ff9966;
}
nav{
    grid-area: n;
    background-color: aquamarine;
}
nav a{
    display: block;
    padding-top: 5px;   
    margin-right: 50px;
    margin-left: 5px;
    text-decoration: none;
}
article{
    grid-area: a;
    background-color: #ffcc99;
    padding: 5px;
}

aside{
    grid-area: s;
    background-color:#3399ff;
    padding: 5px;
}
footer{
    grid-area: f;
    background-color: #ffcccc;
    padding: 5px;
}
header h1{
    text-align: center;
}
section{
    background-color: beige;
    border: 1px solid black;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
fieldset,label, input{
    margin-bottom: 10px;
}
fieldset{    
    text-align: right;
}
#email1Label, #email1{
    margin-bottom: 0px !important;
}
#prioritas{
    text-align: left;
}

#kuldGomb{
    text-align: right;
}
#kuld{
   padding: 2px 80px 2px 80px;
}
#torol{
    padding: 2px 20px 2px 20px;
}


@media screen and (max-width:800px){
    main{
    grid-template-areas:
        "h"
        "n"
        "a"
        "s"
        "f";
    }
    nav{
        text-align: center;
    }
    nav a{
        margin: 0;
    }
    fieldset input{
        width: 100%;
    }
    fieldset{        
        text-align: left;
    }
    #gombok, #kuldGomb{
        width: 100%;
        text-align: center;
    }
    body, main, header, nav, aside, article, footer{
        width: 90%;        
    }
    
}